<div class='tile' style='display: flex;'>
	<div class='name'>{{name}}</div>
	<div class='img'>
		<img src={{iconUrl}} alt='aa' />
	</div>
	<div class='temp'>
		<h2>{{temp}}</h2>
		<p>{{weather}}</p>
	</div>
	<div class='somg' style='width: 500px;'>
		<h3>{{smogTitle}}</h3>
		<p>{{smogDesc}}</p>
	</div>
	<div class='szcz'>
		<a href={{forecastUrl}}>zobacz</a>
	</div>
</div>