<link rel='stylesheet' href='css/l7/list.css' />
<div class='list'>
	<h1>
		list cars page
	</h1>

	<div class='grid'>
		<div class='title'>
			<div class='_id'>_id</div>
			<div class='ubez'>ubezpieczony</div>
			<div class='benz'>benzyna</div>
			<div class='uszk'>uzkodzony</div>
			<div class='nape'>napend 4x4</div>
			<div class='br'></div>
		</div>

		{{#each cars}}
			<div class='CAR'>
				<div class='_id'>{{_id}}</div>
				<div class='ubez'>{{ubezpieczony}}</div>
				<div class='benz'>{{benzyna}}</div>
				<div class='uszk'>{{uszkodzony}}</div>
				<div class='nape'>{{napend4x4}}</div>
				<button onclick='{alert(`{{{alertThis this}}}`)}'>info</button>
			</div>

		{{/each}}
	</div>
	<style>
		.grid{ display: flex; flex-direction: column; } .grid *{ display: flex;
		padding: 10px; }
	</style>
</div>