<link rel='stylesheet' href='css/info.css' />
{{> aside info=info}}

<div class='fileInfo'>
	<div><span>id : </span>{{file.id}}</div>
	<div><span>name : </span>{{file.name}}</div>
	<div><span>path : </span>{{file.path}}</div>
	<div><span>size : </span>{{file.size}}</div>
	<div><span>type : </span>{{file.type}}</div>
	<div><span>savedate : </span>{{file.savedate}}</div>
</div>