<link rel='stylesheet' href='css/filemenager.css' />
{{> aside2 }}


<div class="filemenager2">

	<div class="tree">
		{{#each (splitPath currentPath)}}


		<a href="http://localhost:3000/updatePath?updatePath={{this}}">{{this}}</a>
		{{/each}}

	</div>

	<div class="folders">

		{{#each files}}
		{{#if (checkFolder this.obraz) }}

		<div class="file2">
			<div class="">
				<img src="{{this.obraz}}" alt="{{this.obraz}}">
				<button onclick="deleteFile('{{this.name}}')">x</button>

			</div>
			<p>{{currentPath}}</p>
			<a href="http://localhost:3000/changePath?newPath={{currentPath}}/{{this.name}}">{{this.name}}</a>
		</div>
		{{/if}}
		{{/each}}
	</div>

	<div class="files2">

		{{#each files}}
		{{#if (checkFolder this.obraz) }}
		{{else}}
		<div class="file2">
			<div class="">
				<img src="{{this.obraz}}" alt="{{this.obraz}}">
				<button onclick="deleteFile('{{this.name}}')">x</button>

			</div>
			{{#if (checkIfImg this.name)}}
			<a href="http://localhost:3000/showImage?name={{this.name}}">{{this.name}}</a>

			{{else}}
			<a href="http://localhost:3000/showFile?name={{this.name}}">{{this.name}}</a>
			{{/if}}
		</div>
		{{/if}}

		{{/each}}
	</div>


</div>

<script>

	async function deleteFile(name) {
		await fetch("/delete2", {
			method: 'POST',
			headers: {
				"Content-type": "application/json"
			},
			body: JSON.stringify({ name })
		})
		window.location.reload()
	}

</script>